/* Navbar módosítások */
#span-right { float: right; }
.bg-dark { background-color: rgb(128, 15, 15)!important; } /* Az !important szükséges a felülíráshoz! */
.navbar-dark .navbar-text { font-size: 24px; color: rgb(255, 226, 129);}
.nav-item { margin-left: 20px; }
.navbar-dark .navbar-nav .nav-link { color: rgb(255, 226, 129); }

html { background-color: rgb(209, 174, 18); }
body { margin: 0 5%; background-color: white; padding: 5px 1%; }
h1 { text-align: center; color: rgb(128, 15, 15); font-variant: small-caps; padding: 15px 0 25px}
h2 { color: rgb(128, 15, 15); font-variant: small-caps; }
h3 { color: rgb(128, 15, 15); font-variant: small-caps; }
p { font-size: 20px ;}
li { font-size: 18px; }

.weather { 
    font-family: sans-serif;
    background-color: rgb(128, 15, 15);
    padding: 10px 1%;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    color: rgb(255, 226, 129);
    font-size: 20px;
 }

 .col-weather { text-align: right;}

 #selWeather { margin: 0 20px; }

.action-div, .contact-div {
    background-color: rgb(245, 195, 102);
    margin: 15px 0;
    box-shadow: 5px 5px 7px grey;
    border-radius: 7px;
    padding: 1%;
    overflow: hidden;
}

.action-div img {
    width: 20%;
    float: right;
}

.contact-div img {
    width: 40%;
}

img {
    width: 32%;
    border-radius: 7px;
    box-shadow: 2px 2px 5px grey;
    margin: 3px;
}

#table { border-style: solid; border-color: rgb(209, 174, 18); }

th {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(24, 167, 24);
    font-style: italic;
    font-size: 22px;
}

/* háttérszín a páratlan... */
.tr-odd {
    background-color: rgb(255, 216, 164);
}

/* ...és a páros sorokra */
.tr-even {
    background-color: rgb(255, 250, 201);
}

/* sorok háttérszínének változtatása a páratlan... */
.tr-odd:hover {
    background-color: rgb(233, 164, 143);
}

/* ...és a páros sorok esetén, ha az egér fölé kerül */
.tr-even:hover {
    background-color: rgb(233, 164, 143);
}

/* fejlécek képeinek (sketch) alapbeállításai */
.img-th {
    width: 48px;
    border-radius: 0;
    box-shadow: none;
}

/* fejlécek képeinek (sketch) balra... */
.left {
    float: left;
}

/* ...és jobbra igazítása */
.right {
    float: right;
}

.main {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(209, 174, 18);
    padding: 20px;
}

.label-order, .span-order, .show-price {
    color: green;
}

.span-order {
    display: block;
    margin-bottom: 10px;
}

.span-price {
    margin-left: 30px;
}